/June/SQDF_DTC_LATAM_VEHICLE_INFO_Jun.csv
/June/SQDF_GCD_LATAM_VEHICLE_INFO_Jun.csv
/July/SQDF_DTC_LATAM_VEHICLE_INFO_Jul.csv
/July/SQDF_GCD_LATAM_VEHICLE_INFO_Jul.csv
/Aug/SQDF_DTC_LATAM_VEHICLE_INFO_Aug.csv
Aug/SQDF_GCD_LATAM_VEHICLE_INFO_Aug.csv
/September/IGNITE_V_LOCATION_LATAM_Sep.csv
/September/SQDF_DTC_LATAM_VEHICLE_INFO_Sep.csv
/September/SQDF_GCD_LATAM_VEHICLE_INFO_Sep.csv
